.flex-container {
  display: flex;
  flex: 1 1 0;
  gap: 20px;
  flex-direction: row;

  @media screen and (max-width: 1279px) {
    flex-direction: column;
  }
}

.divider{
  margin-top: 15px;
  margin-bottom: 15px;
}

.progress-bar {
  margin-top: 5px;
}


.name-size-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.torrent-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  /* Take all remaining space except size */
  flex-grow: 1;
  margin-left: 8px;
  margin-right: 8px; /* small gap before filesize */
}

.torrent-size {
  flex-shrink: 0; /* prevent shrinking */
  white-space: nowrap;
}

.darken-on-hover:hover {
  filter: brightness(55%);
  transition: filter 0.1s ease;
  cursor: pointer;
}

.darken-on-hover:hover:has(input:hover) {
  filter: none;
  cursor: default;
}

.darken-on-hover input[type="checkbox"] {
  cursor: pointer;
}